# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.vscode/
.idea/

# Vite
/.vite

# Tailwind CSS
node_modules/.cache

# generated
*.log
